<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <a class="navbar-brand"><span>C </span>Compiler</a>
        <ul class="user-menu">
          <li class="dropdown pull-right">
            <a  class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{uname}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              
              <li><a ui-sref=".changepassword"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>Change Password</a></li>
              <li><a ui-sref="home" ng-click="logout()"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
              
    </div>
  </nav>

<div class="">
  <ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a ui-sref=".codeeditor">Code Editor</a></li>
  <li role="presentation"><a ui-sref=".submitque">Submit Question</a></li>
  <li role="presentation"><a ui-sref=".profile">Profile</a></li>
</ul>
</div>


<div>     
    

        <div id="main2">

        
      <div ui-view></div>

    </div>
    
    
  </div>
