<div class="container" style="padding-bottom: 20px; ">
        <h2>Change Your Password</h2>
</div>

<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">



   <div class="alert alert-danger" ng-if="err">Couldn't change password.</div>
   <div class="alert alert-success" ng-if="changed">Password changed successfully.</div>

    <form>
     <div class="form-group ">
      <label class="control-label requiredField" for="name" style="color: #5f6468; font-weight: 150">
       Old Password
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="name" name="name" type="password" ng-model="user.oldpassword">
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="name1" style="color: #5f6468; font-weight: 150">
       New Password
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="name1" name="name1" type="password" ng-model="user.newpassword">
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="name2" style="color: #5f6468; font-weight: 150">
       Confirm Password
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="name2" name="name2" type="password" ng-model="user.confirmpassword" >
     </div>
     <div class="form-group">
      <div>
        
         <button class="btn btn-primary " name="submit" type="submit" ng-click="send(user)" style="margin-right: 10px;">
          Submit
         </button>
        
         <button class="btn btn-warning" name="submit" ng-click="clear()">
          Reset
         </button>
        
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
